/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'bodonixtregular';
    src: url('./assets/font/bodonixt-webfont.woff2') format('woff2'), url('./assets/font/bodonixt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {}

body {
    font-family: 'bodonixtregular', Arial, Helvetica, sans-serif;
}

.flex--align {}